<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Sky楽譜作成.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>5FF2613413384275CB2AD04D77ED8366F6A003E2</string>
				<key>dateExpires</key>
				<string>2021/09/22</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5FF2613413384275CB2AD04D77ED8366F6A003E2</string>
						<key>dateExpires</key>
						<string>2021/09/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>App.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5KDLS4AL6F</string>
						<key>name</key>
						<string>Ryohei Ukida</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5FF2613413384275CB2AD04D77ED8366F6A003E2</string>
						<key>dateExpires</key>
						<string>2021/09/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FBLPromises.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5KDLS4AL6F</string>
						<key>name</key>
						<string>Ryohei Ukida</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5FF2613413384275CB2AD04D77ED8366F6A003E2</string>
						<key>dateExpires</key>
						<string>2021/09/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Flutter.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5KDLS4AL6F</string>
						<key>name</key>
						<string>Ryohei Ukida</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5FF2613413384275CB2AD04D77ED8366F6A003E2</string>
						<key>dateExpires</key>
						<string>2021/09/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GTMSessionFetcher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5KDLS4AL6F</string>
						<key>name</key>
						<string>Ryohei Ukida</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5FF2613413384275CB2AD04D77ED8366F6A003E2</string>
						<key>dateExpires</key>
						<string>2021/09/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5KDLS4AL6F</string>
						<key>name</key>
						<string>Ryohei Ukida</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5FF2613413384275CB2AD04D77ED8366F6A003E2</string>
						<key>dateExpires</key>
						<string>2021/09/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Mantle.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5KDLS4AL6F</string>
						<key>name</key>
						<string>Ryohei Ukida</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5FF2613413384275CB2AD04D77ED8366F6A003E2</string>
						<key>dateExpires</key>
						<string>2021/09/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SDWebImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5KDLS4AL6F</string>
						<key>name</key>
						<string>Ryohei Ukida</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5FF2613413384275CB2AD04D77ED8366F6A003E2</string>
						<key>dateExpires</key>
						<string>2021/09/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SDWebImageWebPCoder.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5KDLS4AL6F</string>
						<key>name</key>
						<string>Ryohei Ukida</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5FF2613413384275CB2AD04D77ED8366F6A003E2</string>
						<key>dateExpires</key>
						<string>2021/09/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>absl.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5KDLS4AL6F</string>
						<key>name</key>
						<string>Ryohei Ukida</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5FF2613413384275CB2AD04D77ED8366F6A003E2</string>
						<key>dateExpires</key>
						<string>2021/09/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>audioplayers.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5KDLS4AL6F</string>
						<key>name</key>
						<string>Ryohei Ukida</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5FF2613413384275CB2AD04D77ED8366F6A003E2</string>
						<key>dateExpires</key>
						<string>2021/09/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>flutter_image_compress.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5KDLS4AL6F</string>
						<key>name</key>
						<string>Ryohei Ukida</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5FF2613413384275CB2AD04D77ED8366F6A003E2</string>
						<key>dateExpires</key>
						<string>2021/09/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>grpc.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5KDLS4AL6F</string>
						<key>name</key>
						<string>Ryohei Ukida</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5FF2613413384275CB2AD04D77ED8366F6A003E2</string>
						<key>dateExpires</key>
						<string>2021/09/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>grpcpp.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5KDLS4AL6F</string>
						<key>name</key>
						<string>Ryohei Ukida</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5FF2613413384275CB2AD04D77ED8366F6A003E2</string>
						<key>dateExpires</key>
						<string>2021/09/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>image_picker.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5KDLS4AL6F</string>
						<key>name</key>
						<string>Ryohei Ukida</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5FF2613413384275CB2AD04D77ED8366F6A003E2</string>
						<key>dateExpires</key>
						<string>2021/09/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>leveldb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5KDLS4AL6F</string>
						<key>name</key>
						<string>Ryohei Ukida</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5FF2613413384275CB2AD04D77ED8366F6A003E2</string>
						<key>dateExpires</key>
						<string>2021/09/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>libwebp.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5KDLS4AL6F</string>
						<key>name</key>
						<string>Ryohei Ukida</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5FF2613413384275CB2AD04D77ED8366F6A003E2</string>
						<key>dateExpires</key>
						<string>2021/09/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5KDLS4AL6F</string>
						<key>name</key>
						<string>Ryohei Ukida</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5FF2613413384275CB2AD04D77ED8366F6A003E2</string>
						<key>dateExpires</key>
						<string>2021/09/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>openssl_grpc.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5KDLS4AL6F</string>
						<key>name</key>
						<string>Ryohei Ukida</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5FF2613413384275CB2AD04D77ED8366F6A003E2</string>
						<key>dateExpires</key>
						<string>2021/09/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>path_provider.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5KDLS4AL6F</string>
						<key>name</key>
						<string>Ryohei Ukida</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5FF2613413384275CB2AD04D77ED8366F6A003E2</string>
						<key>dateExpires</key>
						<string>2021/09/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>shared_preferences.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5KDLS4AL6F</string>
						<key>name</key>
						<string>Ryohei Ukida</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>5KDLS4AL6F.xyz.ukihome.skyScoreGenerator</string>
				<key>com.apple.developer.team-identifier</key>
				<string>5KDLS4AL6F</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>5KDLS4AL6F.xyz.ukihome.skyScoreGenerator</string>
				</array>
			</dict>
			<key>name</key>
			<string>Runner.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>60544bcc-151a-4a42-88ca-6a4a5f1c95b1</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: xyz.ukihome.skyScoreGenerator</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>5KDLS4AL6F</string>
				<key>name</key>
				<string>Ryohei Ukida</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
